*{
    margin: 0;
    padding: 0;
}

.row{
    width: 99vw;
}

.section0 {
	background: 
		linear-gradient(
			rgba(44, 106, 148, 0.75),
			rgba(85, 15, 199, 0.45)
			),
	url(../images/background.jpg);
	background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
}

.section3{
    height: 10vh;
}

section{
    width: 100vw;
}